<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <h2 class="my-5">About</h2>
        <p class="mb-5">
          「 人生をホップに 」</br>
           本サイトは、ビールをこよなく愛する同士のために作成しました。</br>
           ビールの情報を共有し、ともに世界を広げましょう。</br>
           疲れ切った時、自分と真摯に向き合ってみませんか？</br>
           ビールは疲れている時に美味しさを引き出すそうです。</br>
           辛い時、その一杯が明日へと導いてくれます。</br>
           願わくば、すべての人の心と身体に潤いを。
        </p>
        <div class="mv-top mb-5">
        </div>
      </div>
    </div>
  </div>
</main>
